@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>La firma M&H Industries no cuenta con los permisos para el uso y la manipulación de los datos referentes a la Firma Yovy.
    Por lo que todos los datos que se encuentran almacenados fueron inventados.</p>
